/* css reset */
body{
    margin: 0px;
    padding: 0px;
    background: url('../images/man1.jpg');
    color: white;
}
 .left{
    display: inline-block;
   border: 2px solid red;
   position: absolute;
   left: 34px;
   top: 20px;
 }
 
 .mid{
    display: block;
    width: 33%;
    margin: 20px auto;
    border: 2px solid red;
 } 
 .right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    border: 2px solid red;
 }   
 .navbar{
    display: inline-block;
 }
 .navbar li, a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 22px;
 }